// CATEGORY CARD
.category-card {
    background-color: white;
    display: flex;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 150px;

    text-decoration: none;

    &:hover {
        background-color: $primary;
        color: white;

        i,
        .category-card__title {
            color: white !important;
        }
    }
}

.category-card i {
    color: $primary;
    font-size: 35px;
}

.category-card .category-card__title {
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-overflow: ellipsis;
}

// LASTS RECIPES CARD
.latest-recipe-card {
    display: flex;
    // align-items: center;
    // justify-content: center;
    margin-right: 20px;
    width: 300px;
    height: 100px;
    // background-color: red;
}

.latest-recipe-card .latest-recipe-card__image {
    width: 180px;
}

.latest-recipe-card .latest-recipe-card__image img{
    object-fit: cover;
}

.latest-recipe-card .latest-recipe-card__image img{
    // object-fit: cover;
}
