// CATEGORY CARD
.category-card {
    background-color: white;

    width: 200px;
    height: 110px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    text-align: center;

    text-decoration: none;

    &:hover {
        background-color: $primary;
        color: white;

        i,
        .category-card__title {
            color: white !important;
        }
    }
}


// CATEGORY CARD
.category-card i {
    color: $primary;
    font-size: 35px;
}

.category-card .category-card__title {
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-overflow: ellipsis;
}

// LASTS RECIPES CARD
.latest-recipe-card {
    display: flex;
    width: 250px;
    height: 140px;
    margin: 20px;

    background-size: 250px 140px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;

    .latest-recipe-card .latest-recipe-card__image {
        background-color: none;
    }
}

// RECIPE CARD
.recipe-card {
    background-color: white;

    display: flex;
    flex-direction: column;

    max-width: 300px;
    min-width: 300px;
    height: 350px;
    // height: 470px;
    padding: 15px;

    border-radius: 8px;
}

.recipe-card .top {
    display: flex;
    flex-direction: row;

    .left {
        display: flex;
        flex: 2;
        flex-direction: column;

        // padding: 10px;
        margin-left: 25px;
    }

    .right {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: flex-start;

        .favorite {
            font-size: 40px;
        }
    }
}

.recipe-card .body {
    // background-color: aqua;

    flex: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;

    .steps {
        padding-left: 20px;
        padding-right: 20px;

        text-align: justify;
        font-weight: bolder;
        color: #525252;
    }

    .image {
        width: 6rem;
        height: 5rem;
        align-self: center;
        // border-radius: 5px;
        border: 4px black double;
        object-fit: cover;
    }
}

.recipe-card .bottom {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 22px 0px;

    border-top: 1px #E6E6E6 solid;

    .likes i {
        border-radius: 20px;

        padding: 10px;
        margin-right: 5px;

        background-color: red;
        color: white;
    }

    .likes,
    .date {
        font-weight: bolder;
        color: #000000;
    }
}
