.navbar {
    // justify-content: flex-start !important;
    //  min-width: 100vw;
    // width: 85vw;
}

.navbar .nav-search {
    border: none;
    background-color: white;
}

.navbar .user {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.navbar .user .user__details {
    display: flex;
    flex-direction: column;
}

.navbar .user .user__avatar img {
    width: 3.5rem;
    padding: 8px;
}

#sidebarCollapse {
    margin-right: 1rem;
}
