// NAVBAR APP
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar .container-fluid {
    justify-content: start !important;

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        width: 100vw !important;
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
        // width: 100vw !important;
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        // width: 100vw !important;
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        // width: 100vw !important;
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        //  width: 100vw !important;
    }

}

.navbar .nav-search {
    border: none;
    background-color: white;
}

.navbar .navbar-brand {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navbar .user {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.navbar .user .user__details {
    display: flex;
    flex-direction: column;
}

.navbar .user .user__avatar img {
    width: 3.5rem;
    padding: 8px;
}

#sidebarCollapse {
    margin-right: 1rem;
}

// NAVBAR CATEGORIES
.navbar-categories {
    background-color: #F5F7F9;
    ;
}

// LOGIN BUTTON
.navbar .login-button {
    border: 1px #E8E8E8 solid;
    font-weight: bold;
    padding: 10px 40px 10px;
    background-color: white;
    border-radius: 5px;

    &:hover{
        background-color: $primary;
        color: white;
    }
}