trix-editor {
    min-height: 400px;
    height: auto !important;
}

.bg-primary .navbar-brand {
    color: white;
    font-family: $font-family-sans-serif;
    font-size: 2rem;
    font-family: "Fredoka One", cursive;
    color: #fff !important;
    font-size: 2.4rem;
    text-decoration: none;
    &:hover {
        color: white;
    }
}
.icono {
    width: 16px;
}
.barra {
    background-color: #ed4646 !important;
}
.fecha {
    color: $blue !important;
}
.receta-meta p {
    font-size: 25px;
    font-weight: bold;
}

.enlace-autor{
    color: #222;
    &:hover{
        text-decoration: none;
        color: #222;
    }
}


.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #fff;
            font-size: 1.4rem;
            &:focus,
            &:hover {
                color: #fff;
            }
        }
    }
}

.titulo-categoria {
    font-family: "Cabin", sans-serif;
    color: #333;
    font-size: 1.8rem;
    border-bottom: 3px solid $blue !important;
    display: inline-block;
    padding-bottom: 0.5rem;
    padding-right: 2rem;
}
.btn-receta,
.btn-receta:hover {
    background-color: #ed4646 !important;
    border: none;
}

.owl-carousel .owl-stage {
    display: flex;
}
.card {
    display: flex;
    flex: 1 0 auto;
    height: 100%;
}
.card-body {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

