body {
    font-family: $parrafos-font-family;
}

trix-editor {
    min-height: 400px;
    height: auto !important;
}

.bg-primary .navbar-brand {
    color: white;
    font-family: $font-family-sans-serif;
    font-size: 2rem;
    font-family: "Fredoka One", cursive;
    color: #fff !important;
    font-size: 2.4rem;
    text-decoration: none;
    &:hover {
        color: white;
    }
}
.icono {
    width: 16px;
}
.barra {
    background-color: #ed4646 !important;
}
.fecha {
    color: $blue !important;
}
.receta-meta p {
    font-size: 12px;
    font-weight: bold;
}
.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #fff;
            font-size: 1.4rem;
            &:focus,
            &:hover {
                color: #fff;
            }
        }
    }
}

.titulo-categoria {
    font-family: "Cabin", sans-serif;
    color: #333;
    font-size: 1.8rem;
    border-bottom: 3px solid $blue !important;
    display: inline-block;
    padding-bottom: 0.5rem;
    padding-right: 2rem;
}
.btn-receta,
.btn-receta:hover {
    background-color: #ed4646 !important;
    border: none;
}

.owl-carousel .owl-stage {
    display: flex;
}
.card {
    display: flex;
    flex: 1 0 auto;
    height: 100%;
}
.card-body {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.categorias-bg {
    background-color: #fff;
    .nav-link {
        color: #222 !important;
        display: inline-block;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        overflow: hidden;
        position: relative;
        text-decoration: none;
        font-size: 1.2rem !important;
        text-transform: uppercase;
        font-weight: bold;
        &:before,
        &:after {
            content: "";
            position: absolute;
            transition: transform 0.5s ease;
        }
        &:before {
            left: 0;
            bottom: 0;
            width: 100%;
            height: 4px;
            background: $blue;
            transform: translateX(-100%);
        }
        &:hover:before {
            transform: translateX(0);
        }
    }
}

.hero-categorias {
    background-image: linear-gradient(
            to bottom,
            rgba(70, 70, 70, 0.4),
            rgba(53, 53, 53, 0.571)
        ),
        url("http://img2.rtve.es/i/?w=1600&i=1529697257299.jpg");
    height: 30rem;
    background-size: cover;
    background-position: top center;
    .texto-buscar {
        p {
            font-family: $font-family-sans-serif;
            font-size: 2.4rem;
            color: #fff;
        }
    }
}
