// ALL CATEGORIES
section.all-categories{
    background-color: none;
}

section.all-categories .title-wrapper{
    height: 50px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.all-categories .title-wrapper .title-wrapper__text{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

section.all-categories .splide-vertical .splide__slide{
    display: flex;
    justify-content: center;
    align-items: center;
}

