// ALL CATEGORIES
section.all-categories {
    background-color: none;
}

section.all-categories .title-wrapper {
    height: 50px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.all-categories .title-wrapper .title-wrapper__text {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

section.all-categories .splide-vertical .splide__slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

// RECIPE DETAIL
div#recipe-detail {
    background-color: none;
    // border: 1px #E3E3E3 dashed;
    height: 80vh;
    padding: 20px;

    #chef,
    #recipe,
    #stars,
    #comments {
        background-color: white;
        padding: 20px;
        margin-bottom: 25px;
    }
}

div#recipe-detail #multimedia {
    .image-wrapper {

        // background-color: yellow;
        img {
            object-fit: cover;
        }

    }

    .video-wrapper {
        // background-color: red;

    }

    .image-wrapper,
    .video-wrapper {
        height: 300px;

        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        img,
        iframe {
            width: 18rem;
            height: 13rem;
        }
    }
}

div#recipe-detail #chef {}

div#recipe-detail #recipe {}

div#recipe-detail #comments {}

div#recipe-detail #comments #comment-form {}

div#recipe-detail #comments #comment-list {

    .comment-item {
        background-color: #FAFAFA;

        height: 140px;
        min-height: 140px;

        display: flex;
        flex-direction: row;

        padding: 10px;
        // margin-bottom: 20px;
        border-top: 1px #F0F0F0 solid;

        .left {
            // background-color: purple;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;

            width: 5%;
        }

        .right {
            // background-color: aqua;

            display: flex;
            flex-direction: column;
            width: 95%;

            padding-left: 10px;

            .top {
                // background-color: red;
                flex: 1;
            }

            .body {
                // background-color: yellow;
                flex: 3;

                padding-top: 10px;
                padding-bottom: 10px;

            }

            .bottom {
                flex: 1;

                color: grey;

            }
        }
    }
}
